body.bs-docs .header-nav{
	background-color: white;
	z-index: 1;
} 
body.bs-docs .dropdown,body.bs-docs .nav-tabx{
	font-family: Museo-sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: 500
}
 
body.bs-docs .breadcrumb{
	background: 0 0;
	margin-bottom: 0;
	padding: 0!important
}
 
body.bs-docs .btn{
	color: #fff;
	font-weight: 300;
	font-family: Museo-sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	line-height: 1.428571429;
	font-size: 12px;
	letter-spacing: 0;
	padding: 10px 25px 9px;
	display: inline-block;
	text-transform: uppercase;
	border: 0;
	border-radius: 0
}
 
body.bs-docs .btn:focus,body.bs-docs .btn:hover {
	color: #fff;
	text-decoration:none
}
 
@media (min-width:768px) {  body.bs-docs .btn, body.hs-page .btn}
 
{}
 
body.bs-docs .btn-lg{
	font-size: 20px;padding:15px 55px
}
 
body.bs-docs .btn-default{
	background-color: #5e5555;
	font-family: Museo-sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 500;
	text-transform: uppercase
}
 
body.bs-docs .btn-default:active,body.bs-docs .btn-default:focus,body.bs-docs .btn-default:hover{
	background-color: #433d3d
}
 
body.bs-docs .btn-primary{
	background-color: #0a8cc4
}
 
body.bs-docs .btn-primary:active,body.bs-docs .btn-primary:focus,body.bs-docs .btn-primary:hover {
	background-color: #086993
}
 
body.bs-docs #dato-logo{
	background-image: url("../images/logo.png");
    background-size: 100% 100%;
    padding: 0px;
	height: 75px;
	width:	240px; 
}
 
body.bs-docs header>div.container>div.row>div.hidden-xs{
	padding-bottom: 4px;
	border-bottom:1px solid #eee
}
 
body.bs-docs header div.pull-right.dato-buy-download-cluster a.btn {
	font-size: 12px;
	margin-top: 40px;
	padding:10px 20px 9px
}
 
@media (max-width:991px) {  
	body.bs-docs header div.pull-right.dato-buy-download-cluster, 
	body.hs-page header div.pull-right.dato-buy-download-cluster
}
 
{}
 
body.bs-docs header div.pull-right.dato-buy-download-cluster div.dato-buy-contact {
	margin-top: 10px;
	margin-bottom:10px
}
 
 body.bs-docs header div.pull-right.dato-buy-download-cluster div.dato-buy-contact>a {
	color: #333;
	font-size: 13px;
	vertical-align: top
}
 
body.bs-docs header div.pull-right.dato-buy-download-cluster div.dato-buy-contact>a:hover {
  	color: #b0007f
}
 
body.bs-docs header nav>ul>li:first-child {
	margin-left: 40px
}
 
@media (min-width:992px) {  
	body.bs-docs header div.pull-right.dato-buy-download-cluster a.btn, 
	body.hs-page header div.pull-right.dato-buy-download-cluster a.btn
}
 
body.bs-docs header nav>ul>li {
	margin-left: 14px
}
 
body.bs-docs header nav>ul>li>a {
	color: #555;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .05em
}
 
body.bs-docs header nav>ul>li:hover .dropdown>ul.dropdown-menu{
	display: block;
	top: 15px;
	background-color: #eee;
	-webkit-box-shadow: none;
	box-shadow: none;
	min-width: 100%;
	border-radius: 0;
	border: 0;
	padding: 0;
	margin-top: 0
}
 
 body.bs-docs header nav>ul>li:hover .dropdown>ul.dropdown-menu>li>a{
	font-weight: 300;
	padding-top: 15px;
	padding-bottom: 14px;
	text-align: left;
	color: #333
}
 
body.bs-docs header nav>ul>li:hover .dropdown>ul.dropdown-menu>li>a:hover{
	background-color: #f5f5f5;
	color: #b0007f;
	text-transform: none
}
 
body.bs-docs header nav>ul>li:hover .dropdown>ul.dropdown-menu>li.divider{
	background-color: #fff;
	width: 90%;
	margin: 0 auto
}
 
body.bs-docs header nav>ul>li:hover .dropdown>.arrow{
	width: 0;
	height: 0;
	position: absolute;
	left: 20px;
	top: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid #eee
}
 
body.bs-docs header nav>ul>li:hover .dropdown>.space{
	width: 100%;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0
}
 
body.bs-docs .navbar-default .navbar-nav>li>a.btn:active,body.bs-docs .navbar-default .navbar-nav>li>a.btn:focus,body.bs-docs .navbar-default .navbar-nav>li>a.btn:hover {background-color: #086993}
 
@media (min-width:992px) {  body.bs-docs .gl-create-bluebox, body.hs-page .gl-create-bluebox}
 
@media (min-width:1200px) {  body.bs-docs .gl-create-bluebox, body.hs-page .gl-create-bluebox}
 
@media (min-width:992px) {  body.bs-docs .gl-col-left, body.hs-page .gl-col-left}
 
@media (min-width:1200px) {  body.bs-docs .gl-col-left, body.hs-page .gl-col-left}
 
@media (min-width:768px) {  body.bs-docs img.gl-404-img, body.hs-page img.gl-404-img}

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Code Pro'),local('SourceCodePro-Regular'),url(//themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasD9Hq-FFgoDNV3GTKpHwuvtI.woff)format('woff')
 }
 
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 700;
	src: local('Source Code Pro Bold'),local('SourceCodePro-Bold'),url(//themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqYqjGYJUyOXcBwUQbRaNH6c.woff)format('woff')
 }
 
@media (min-width:768px) {  body.bs-docs .body-container.container-fluid, body.hs-page .body-container.container-fluid}

@media (min-width:992px) {  body.bs-docs .body-container.container-fluid, body.hs-page .body-container.container-fluid}
 
@media (min-width:1200px) {  body.bs-docs .body-container.container-fluid, body.hs-page .body-container.container-fluid}

@-webkit-keyframes wiggle {0%}
 
25% {-webkit-transform: rotate(-4deg)}
 
50% {-webkit-transform: rotate(2deg)}
 
75% {-webkit-transform: rotate(-1deg)}
 
100% {-webkit-transform: rotate(1deg)}
